<%- include('header'); %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"> 
<link rel="stylesheet" href="main.css" />
<body>
   



    <div class="suggestedCrawlsSlider">
        <label class="textStyles textStylesCapital labels"> Local Crawls </label>
        <div class="slides">
          <div id="slide-11"></div>
          <div id="slide-12"></div>
          <div id="slide-13"></div>
          <div id="slide-14"></div>
          <div id="slide-15"></div>
          <div id="slide-16"></div>
          <div id="slide-17"></div>
          <div id="slide-18"></div>
          <div id="slide-19"></div>
          <div id="slide-20"></div>
        </div>
      </div>


    <div class="suggestedCrawlsSlider">
        <label class="textStyles textStylesCapital labels"> Top Rated </label>
        <div class="slides">
          <div id="slide-11"></div>
          <div id="slide-12"></div>
          <div id="slide-13"></div>
          <div id="slide-14"></div>
          <div id="slide-15"></div>
          <div id="slide-16"></div>
          <div id="slide-17"></div>
          <div id="slide-18"></div>
          <div id="slide-19"></div>
          <div id="slide-20"></div>
        </div>
      </div>

</body>

<!-- link to map in this file -->



<%- include('footer'); %>
















