<%- include('header') %>

<div class="textStyles textStylesCapital ">Are you sure you want to abandon the crawl?  
</div>

<form class = profileInfo action="/delete" method="delete">
    <div class = "profileInfo">
        <div class="textStyles usernameProfile">Username:</div>
        <div class="textStyles usernameProfile usernameProfileInput"><%= user.username %></div>
        <div class="textStyles emailProfile">Email:</div>
        <div class="textStyles emailProfile emailProfileInput"><%= user.email %></div>
        <div class="textStyles dobProfile">Date of birth: </div>
        <div class="textStyles dobProfile dobProfileInput"><%= user.dob %></div>
    </div>
    </form>
    <div class="container">
        <form method="post" action="/delete">
            <input type="submit" value="Yes, delete my account" class="delete" label="delete" />
          </div>
        </form>
      
        <p><a href="/profile" class="add">No, crawl on!</a></p>
      </div>