<!--This Header page is for everypage of the web app other than: Access page, Login and Sign up. -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- below is the link for the image of the hamburger menu-->


  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="header.js"></script>
  
  <!-- Top Navigation Menu -->
  <div class="topnav">
    <a href="#home" class="active"></a>
    
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks" class = "textStyles">
      <a href="/home">Home</a>
      <a href="/myCrawls">My Crawls</a>
      <a href="/profile">Profile</a>
      <a href="/account">Account</a>
      <a href="/settings">Settings</a>
      <a href="/contact">Contact</a>
    </div>
  
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
