<!--This Header page is for everypage of the web app other than: Access page, Login and Sign up. -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- below is the link for the image of the hamburger menu-->

  <link rel="stylesheet" href="main.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Crawl Space</title>

</head>

<!-- below are the hamburger menu links to the rest of the app -->

<body>

  <ul class="menu">
    <li><a class="menuItem" href="home">Home</a></li>
    <li><a class="menuItem" href="profile">Profile</a></li>
    <li><a class="menuItem" href="myCrawls">My Crawls</a></li>
    <li><a class="menuItem" href="settings">Settings</a></li>
    <li><a class="menuItem" href="crawls">Crawls</a></li>
    <li><a class="menuItem" href="maps">Maps</a></li>
    <li><a class="menuItem" href="logout">Log out</a></li>
  </ul>
  <button class="hamburger">
    <!-- below are referneces used by the CS and JS pages to animate the hamburger menu-->
    <!-- material icons https://material.io/resources/icons/ -->
    <i class="menuIcon material-icons">menu</i>
    <i class="closeIcon material-icons">close</i>
  </button>
  <script>// const header = require('express');

const menu = document.querySelector(".menu");
const menuItems = document.querySelectorAll(".menuItem");
const hamburger= document.querySelector(".hamburger");
const closeIcon= document.querySelector(".closeIcon");
const menuIcon = document.querySelector(".menuIcon");

function toggleMenu() {
  if (menu.classList.contains("showMenu")) {
    menu.classList.remove("showMenu");
    closeIcon.style.display = "none";
    menuIcon.style.display = "block";
  } else {
    menu.classList.add("showMenu");
    closeIcon.style.display = "block";
    menuIcon.style.display = "none";
  }
}

hamburger.addEventListener("click", toggleMenu);

menuItems.forEach( 
  function(menuItem) { 
    menuItem.addEventListener("click", toggleMenu);
  }
)
    </script>
  
  
 
</body>