<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crawl Space</title>

    
    
    
    // drop down menu 
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        <li class="nav-item">
              <a class="nav-link" href="/a">A</a>
            </li>
            <li>
                <a class="nav-link" href="/crawls">About</a>
                </li>
        <li>
        <a class="nav-link" href="/map">Contact</a>
        </li>
        
        
          <li>
            <a class = "nav-link link-primary" href = "/login">Sign Up</a>
          </li>
          <li>
          <a class = "nav-link link-primary" href = "/signup">Login</a>
        
      </ul>
        </div>
      </nav>


</head>
