
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"> 
    <link rel="stylesheet" href="main.css" />

<%- include('header'); %>


<body>

    <div class="homepage">   
        <div class="logo">
              <h1 class="crawlspace crawlspaceHome">CRAWLSPACE</h1>
        </div>

<!-- <div class = "myFriendsSlider"> 
  <div class="slides myFriends">
    <div id="friend-1"></div>
    <div id="friend-2"></div>
    <div id="friend-3"></div>
    <div id="friend-4"></div>
    <div id="friend-5"></div>
    <div id="friend-6"></div>
    <div id="friend-7"></div>
    <div id="friend-8"></div>
    <div id="friend-10"></div>
</div>
</div> -->



        <div class="myCrawlsSlider">
            <label class="textStyles textStylesCapital labels"> My crawls </label>
            <div class="slides">
              <div id="slide-1">
<!-- Below will have an image of the Otley Run, and clicking on it should take you to map
Although this needs to be done once map is finished and uploaded to the VS code-->
                <img src="../images/temporary_image.jpg" onclick="location.href='/map';">&nbsp;/>
              </div>
              <div id="slide-2"></div>
              <div id="slide-3"></div>
              <div id="slide-4"></div>
              <div id="slide-5"></div>
              <div id="slide-6"></div>
              <div id="slide-7"></div>
              <div id="slide-8"></div>
              <div id="slide-9"></div>
              <div id="slide-10"></div>
            </div>
          </div>

          <div class="suggestedCrawlsSlider">
            <label class="textStyles textStylesCapital labels"> Suggested crawls </label>
            <div class="slides">
              <div id="slide-11"></div>
              <div id="slide-12"></div>
              <div id="slide-13"></div>
              <div id="slide-14"></div>
              <div id="slide-15"></div>
              <div id="slide-16"></div>
              <div id="slide-17"></div>
              <div id="slide-18"></div>
              <div id="slide-19"></div>
              <div id="slide-20"></div>
            </div>
          </div>

          <div class="footer textStyles textStylesCapital">
            <p class="motto"><%= msg2%></p>
        <%- include('footer'); %>
        </div>
</body>