<%- include('views/header.ejs') %>


<div>
    <h1>Crawl into the wekkend</h1>
</div>

<div>
    <li>
        <a href="/views/login/" class="add">login</a>Login
        <a href="/views/signup/" class="add">login</a>Sign Up
    </li>
</div>

<div>
    <h3>Sign up</h3>
</div>


<%- include('views/footer'); %>