<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"> 
    <link rel="stylesheet" href="main.css" />


    <div class="homepage">   
        <div class="logo">
              <h1 class="crawlspace">CRAWLSPACE</h1>
        </div>
 
        
<div class="loginContainer">
    <div class ="username">
    <p class="textStyles textStylesCapital"> username</p>
    <input type="text" class="formInput textStylesInput" placeholder ="Enter your username"> 
    </div>
    <div class ="password">
    <p class="textStyles textStylesCapital"> password </p>
    <input type="password" class="formInput textStylesInput" placeholder="Enter your password">
    </div>
</div>

<a class = "button greenButton loginButton" href="/home">Login</a>

<div class ="forgotPassword">
<a class = "forgotPassword textStyles" href="/?"> Forgot your password?</a>
</div>

<div class="footer textStyles textStylesCapital">
    <p class="motto"><%= msg2%></p>
<%- include('footer'); %>
</div>
</body>

</html>