<%- include('header'); %>


<body>
    <h1><%= title %></h1>



    <div class="map1"></div>

    <div class="star"> star</div>

</body>



<!-- link to map in this file -->



<%- include('footer'); %>
















