<%- include('header'); %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"> 
    <link rel="stylesheet" href="main.css" />

<body>

    <div class="myCrawlsSlider">
        <label class="textStyles textStylesCapital labels">My crawls</label>
        <div class="slides">
          <div id="slide-1">
<!-- Below will have an image of the Otley Run, and clicking on it should take you to map
Although this needs to be done once map is finished and uploaded to the VS code-->
            <img src="../images/temporary_image.jpg" onclick="location.href='/map';">&nbsp;/>
          </div>
          <div id="slide-2"></div>
          <div id="slide-3"></div>
          <div id="slide-4"></div>
          <div id="slide-5"></div>
          <div id="slide-6"></div>
          <div id="slide-7"></div>
          <div id="slide-8"></div>
          <div id="slide-9"></div>
          <div id="slide-10"></div>
        </div>
      </div>

      <!-- Option to create own crawl -->
      <label class="textStyles textStylesCapital labels">Create a new crawl</label>
      
     

<div 



</body>



<!-- link to map in this file -->



<%- include('footer'); %>
















