<%- include('header'); %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"> 
<link rel="stylesheet" href="main.css" />
<body>
    <label class="textStylesTitle textStylesCapital labels"> Welcome to your local </label>


</body>


<%- include('footer'); %>

















