<%- include('header'); %>


<script src="cookie.js"> </script>
<script> checkCookie()</script>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet"> 
<link rel="stylesheet" href="main.css" />
<body>
  

</body>

<!-- link to map in this file -->



<%- include('footer'); %>

