body {
    background-color: #242526;
}
      
.crawlspace {
    color: white;
    display: flex;
    justify-content: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; 
    margin-top: 40%;
}

.loginContainer {
    justify-content:left;
}

.loginAndSignUp {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}


.loginLink {
    display: flex; 
    color: white;
    justify-content: center;
    background-color: #4b6043;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none; 
    width: 40%;
    margin: auto;
    border-radius: 5px;
    
}

.signUpLink {
    display: flex; 
    color: white;
    justify-content: center;
    background-color: #1e1e1f;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    width: 40%;
    margin: auto;    
    border-radius: 5px;
    margin-top: 5px; 
}

.username { 
    display: flex; 
    color: white;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none; 
    margin: auto;
    border-radius: 5px;
}

.username[type="text"] {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.usernameText {
    display: flex;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: white;
    justify-content: center;
}

.password {
    display: flex; 
    color: white;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none; 
    margin: auto;
    border-radius: 5px;
}

.password[type="text"] {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.passwordText {
    display: flex;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: white;
    justify-content: center;
}


.signInButton {
    display: flex;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; 
    justify-content: center;
    background-color: #4b6043;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none; 
    width: 40%;
    margin: auto;
    border-radius: 5px;
}

