body {
    background-color:  #242526;
    height: 100%;
}
      
.crawlspace {
    color: white;
    display: flex;
    justify-content: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif; 
    margin-top: 30vh;
}

.crawlspaceHome {
    color: white;
    margin-top: 1vh;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    justify-content: center;
    display:flex;
    
  }

.crawlspaceInput {
  margin-top: 45%;
}


.button {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: flex; 
    color: white;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none; 
    width: 40%;
    margin: auto;
    border-radius: 5px;
  
    
}

.greenButton {
    background-color: #4b6043;
}

.almostBlackButton {
    background-color: #1e1e1f;
}

.signUpButton {
    margin-top: 10px; 
}

.textStyles {
    display: flex; 
    color: white;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

/* Sub headings */
.textStylesTitle {
  display:flex;
  color: white;
  font-size: 25px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;;
}

.labels {
    padding: 10px;
    text-align: start;
    display: block;
}

.textStylesCapital {
    text-transform: uppercase;
    transform: scale(1, 0.9);
}

.crawlName {
  padding: 10px;
}

.username, .password, .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.loginButton {
    margin-top: 15px;
}

.formInput {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.forgotPassword, .signUp {
    display: flex;
    justify-content: center;
    text-decoration: none; 
    margin-top: 10px;
}

/* Footer styling - uniform acorss web app */
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    /* bottom: 20vh; */
    width: 100%;
    height: 30px;
    bottom: 4px;
 }

.footerSignUp {
    width: 80%;
}

.motto, .copywrite {
    display: flex;
    justify-content: center;
    margin-top: -2vh;   
}




/* Slider CSS */

* {
    box-sizing: border-box;
  }
  
  .slider {
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .slides::-webkit-scrollbar-thumb {
    background: #242526;
    border-radius: 10px;
  }

  .slides::-webkit-scrollbar-track {
    background: transparent;
  }

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 250px;
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
.suggestedCrawlsSlider {
    margin-top: 30px;
}


.myFriends > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-bottom: 15px;
  }


/* Header and Burger menu CSS */

/* Below is the box where links reside once icon clicked */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin-bottom: 10px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #242526;
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    
    
  }

  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #242526;
    color: white;
  }

  .crawlsLabel {
    background-color: black;
  }

  /* pop-up styling for map */

  .popup-container{
    background-color: rgb(2, 110, 205);
    width: 150px;
    color: white;
    text-align: center;
    border-radius: 1px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -80px;
  }

  .mapToggleInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}